{{ define "main" }}
{{- if .FirstSection.Param "breadcrumbs" }}{{ partial "breadcrumbs" . }}{{ end }}
<article class="h-entry wrap flow prose">
  <header class="entry-header">
    <h1 class="p-name">{{ .Title }}</h1>
  </header>
  <div class="e-content">
    {{ .Content }}
  </div>

  {{- with (where .Pages "IsPage" true) -}}
  <ul class="posts">
  {{- range . -}}
    {{ .Render "li" }}
  {{- end -}}
  {{- end -}}
  </ul>

  {{- range .Sections -}}
  {{ $section := trim (strings.TrimPrefix .Section .File.Dir) "/" }}
  <section id="{{ $section }}">
    <h2>{{ $section }}</h2>
    <ul class="posts">
    {{- range .Pages -}}
      {{ .Render "li" }}
    {{- end -}}
    </ul>
  </section>
  {{- end -}}
</article>
{{ end }}
