{{ define "main" }}
<article class="page h-entry hentry wrap">
  <header class="entry-header">
    <h1 class="p-name entry-title">{{ .Title }}</h1>
  </header>
  <div class="e-content entry-content">
    {{ .Content }}
  </div>

  {{- with (where .Pages "IsPage" true) -}}
  <ul class="posts">
  {{- range . -}}
    {{ .Render "li" }}
  {{- end -}}
  {{- end -}}
  </ul>

  {{- range .Sections -}}
  {{ $section := trim (strings.TrimPrefix .Section .Dir) "/" }}
  <section id="{{ $section }}">
    <h2>{{ $section }}</h2>
    <ul class="posts">
    {{- range .Pages -}}
      {{ .Render "li" }}
    {{- end -}}
    </ul>
  </section>
  {{- end -}}
</article>
{{ end }}
