// Code highlighting only effects the current slide.
.highlight-code slide.current {
  pre > * {
    opacity: 0.25;
    @include transition(opacity 0.5s ease-in);
  }
  b {
    opacity: 1;
  }
}

pre {
  font-family: 'Source Code Pro', 'Courier New', monospace;
  font-size: 20px;
  line-height: 28px;
  padding: 10px 0 10px $slide-left-right-padding;
  letter-spacing: -1px;
  margin-bottom: 20px;
  width: 106%;
  background-color: $gray-1;
  left: -$slide-left-right-padding;
  position: relative;
  @include box-sizing(border-box);
  /*overflow: hidden;*/

  &[data-lang]:after {
    content: attr(data-lang);
    background-color: $gray-2;
    right: 0;
    top: 0;
    position: absolute;
    font-size: 16pt;
    color: white;
    padding: 2px 25px;
    text-transform: uppercase;
  }
}

pre[data-lang="go"] {
  color: #333;
}

code {
  font-size: 95%;
  font-family: 'Source Code Pro', 'Courier New', monospace;
  color: black;
}

/* Pretty print */

.prettyprint .str, /* string content */
.prettyprint .atv { /* a markup attribute value */
  color: $brand-green-secondary2; //rgb(0, 138, 53);
}
.prettyprint .kwd, /* a keyword */
.prettyprint .tag { /* a markup tag name */
  color: rgb(0, 102, 204);
}
.prettyprint .com { /* a comment */
  color: $gray-3; //rgb(127, 127, 127);
  font-style: italic;
}
.prettyprint .lit { /* a literal value */
  color: rgb(127, 0, 0);
}
.prettyprint .pun, /* punctuation, lisp open bracket, lisp close bracket */
.prettyprint .opn,
.prettyprint .clo {
  color: $gray-4; //rgb(127, 127, 127);
}
.prettyprint .typ, /* a type name */
.prettyprint .atn, /* a markup attribute name */
.prettyprint .dec,
.prettyprint .var { /* a declaration; a variable name */
  color: $brand-red-secondary2; //rgb(127, 0, 127);
}
.prettyprint .pln {
  color: $gray-4;
}

