  <footer class="site-footer">

    <div class="wrap">
      <div class="footer-col-1 column">
        <p><a href="{{ "/feed.xml" | prepend: site.baseurl }}" onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})(); return false;">Subscribe to updates</a></p>
      </div>

      <div class="footer-col-2 column">
        <form method="get" class="search-form" action="http://willnorris.dev/" role="search">
          <input type="search" name="s" placeholder="Search this website...">
          <input type="submit" value="Search">
        </form>
      </div>
    </div>

    <div class="copyright">
      <div class="wrap">
        <p>&copy; 2002-2014 Will Norris</p>
      </div>
    </div>
  </footer>
