<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="{{ "/logo.jpg" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace: 'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% shortlink %}
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
{% if page.webmention_endpoint %}
  <link rel="webmention" href="{{ page.webmention_endpoint }}">
  <link rel="pingback" href="https://webmention.io/webmention?forward={{ page.webmention_endpoint | prepend: site.baseurl | prepend: site.url }}" />
{% endif %}
  <link rel="{% if page.url != "/" %}home {% endif %}alternate" href="{{ "/feed.atom" | prepend: site.baseurl }}" type="application/atom+xml">
{% if page.url == "/" %}
  <meta name="description" content="{{ site.description }}">
  <link rel="openid.server" href="https://indieauth.com/openid">
  <link rel="apple-touch-icon-precomposed" sizes="128x128" href="{{ "/logo.jpg" | prepend: site.baseurl }}">
  <meta name="mobile-web-app-capable" content="yes">
{% else %}
  {% assign excerpt = page.content | markdownify | strip_html | split: ' ' | join: ' ' | truncatewords: 50 %}
  <meta name="description" content="{{ excerpt }}">
  {% if page.twitter_card %}
    <meta name="twitter:card" content="{{ page.twitter_card }}">
    {% if page.title %}<meta name="twitter:title" content="{{ page.title }}">{% endif %}
    <meta name="twitter:description" content="{{ excerpt }}">
    {% if site.twitter %}<meta name="twitter:site" content="{{ site.twitter }}">{% endif %}
    {% if page.author.twitter %}<meta name="twitter:creator" content="{{ page.author.twitter }}">{% endif %}
  {% endif %}
{% endif %}
{% if paginator.previous_page or page.noindex %}  <meta name="robots" content="noindex">{% endif %}
{% if page.go %}  <meta name="go-import" content="{{ page.go.pkg }} {{ page.go.vcs }} {{ page.go.src }}">{% endif %}
{% if page.author.url %}  <link rel="author" href="{{ page.author.url }}">{% endif %}
{% if site.analytics_id %}{% include google-analytics.html %}{% endif %}
</head>
