  <div class="profile-card p-author h-card vcard">
      <div class="wrap">
        <img class="u-photo photo" src="/logo.jpg" alt="">
        <h2 class="p-name fn">
          <a class="u-url url" href="https://willnorris.com/">Will Norris</a>
        </h2>

        <p class="p-note note">Hi, I'm <a href="/about">Will</a>.  I'm a follower
        of Jesus, a husband to <a href="https://notsoserendipitous.com/">Elisabeth
        Norris</a>, a citizen of the <a href="http://indiewebcamp.com/">indie
        web</a>, and an engineer at Google. In that order.</p>

        <ul class="social-links">
          <li><a title="Google+" rel="me" href="https://plus.google.com/+willnorris" class="u-url url">Google+</a></li>
          <li><a title="GitHub" rel="me" href="https://github.com/willnorris" class="u-url url">GitHub</a></li>
          <li><a title="Twitter" rel="me" href="https://twitter.com/willnorris" class="u-url url">Twitter</a></li>
          <li><a title="App.net" rel="me" href="https://alpha.app.net/willnorris" class="u-url url">App.net</a></li>
        </ul>

      </div>
  </div>
