  <div class="profile-card p-author h-card vcard">
      <div class="wrap">
        <img class="u-photo photo" src="/logo.jpg" alt="">
        <h2 class="p-name fn">
          <a class="u-url url" href="https://willnorris.com/">Will Norris</a>
        </h2>

        <p class="p-note note">Hi, I'm <a href="/about">Will</a>.  I'm a follower of Jesus, a
        husband to <a href="https://notsoserendipitous.com/">Elisabeth</a>, a father to <a
        href="https://gabenorris.com/">Gabriel</a>, a citizen of the <a
        href="http://indiewebcamp.com/">indie web</a>, and a <span class="p-role role">software
        engineer</span> at <span class="p-org org">Google</span>.  In that order.</p>

        <ul class="social-links">
          <li><a rel="me" href="https://plus.google.com/+willnorris" class="u-url url">Google+</a></li>
          <li><a rel="me" href="https://github.com/willnorris" class="u-url url">GitHub</a></li>
          <li><a rel="me" href="https://twitter.com/willnorris" class="u-url url">Twitter</a></li>
          <li><a rel="me" href="https://facebook.com/willnorris" class="u-url url">Facebook</a></li>
        </ul>

      </div>
  </div>
