---
# This layout provides basic structural markup, including the site header and footer.  Content is
# filtered through the imageproxy plugin.
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}
  <main>
    {% imageproxy %}{{ content }}{% endimageproxy %}
  </main>
  <script src="/js/jquery-1.11.1.js"></script>
{% include footer.html %}
  <script src="/js/highlight-20150221.js"></script>
  <script>hljs.configure({classPrefix:''}); hljs.initHighlightingOnLoad();</script>
  <script src="/js/fragmention-20140731.js" async></script>
  <script src="/js/headroom-0.7.0.js"></script>
  <script>
    var siteHeader = document.querySelector('.site-header');
    siteHeader.addEventListener('click', function() { window.scrollTo(0,0); }, false);
    var h = new Headroom(siteHeader, {offset:200, tolerance:10}); h.init();
  </script>
  <script>
    var lastScrollTop = $(window).scrollTop();
    $(window).scroll(function(){
       var scrollAmt = $(this).scrollTop();
       var deltaS = scrollAmt - lastScrollTop;
       $('.entry-header[data-background] .wrap').css({
          marginBottom: "-=" + deltaS/10,
          opacity: "-=" + deltaS/800
        });
      lastScrollTop = scrollAmt;
     });
  </script>
</body>
</html>
