---
# This layout provides basic structural markup, including the site header and footer.  Content is
# filtered through the imageproxy plugin.
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}
  <main>
    {% imageproxy %}{{ content }}{% endimageproxy %}
  </main>
  <script src="/js/jquery-2.2.0.js"></script>
{% include footer.html %}
  <script src="/js/highlight-20150221.js"></script>
  <script>hljs.configure({classPrefix:''}); hljs.initHighlightingOnLoad();</script>
  <script src="/js/fragmention-20140731.js" async></script>
  <script src="/js/headroom-0.7.0.js"></script>
  <script>
    var siteHeader = document.querySelector('.site-header');
    $(siteHeader).click(function(e) {
      if (e.target == siteHeader) {
        $('html,body').animate({scrollTop: 0});
        return false;
      }
    });
    var h = new Headroom(siteHeader, {offset:200, tolerance:{up:10, down:0}}); h.init();
  </script>
  <script src="/js/debounce-1.1.js"></script>
  <script src="/js/fluidbox-2.0.2.js"></script>

  <script>
    $(function(){
      var $imageAnchors = $('.entry-content a').filter('[href$=".jpg"],[href$=".jpeg"],[href$=".png"]');
      $imageAnchors.fluidbox({
        viewportFill: 1,
      });

      // implement parallax effect for article title.
      var lastScrollTop = $(window).scrollTop();
      $(window).scroll(function(){
        var scrollAmt = $(this).scrollTop();
        var deltaS = scrollAmt - lastScrollTop;
        $('.entry-header[data-background] .wrap').css({
          marginBottom: "-=" + deltaS/8,
          opacity: "-=" + deltaS/800
        });
        lastScrollTop = scrollAmt;

        // close fluidbox if scrolled more than 10px
        if (Math.abs(deltaS) > 10) {
          $imageAnchors.trigger('close.fluidbox');
        }
      });
    });
  </script>
</body>
</html>
