---
# This layout provides basic structural markup, including the site header and footer.  Content is
# filtered through the imageproxy plugin.
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}
  <main>
    {% imageproxy %}{{ content }}{% endimageproxy %}
  </main>
{% include footer.html %}
  <script src="/js/highlight-20150221.js"></script>
  <script>hljs.configure({classPrefix:''}); hljs.initHighlightingOnLoad();</script>
  <script src="/js/fragmention-20140731.js" async></script>
  <script src="/js/headroom-0.7.0.js"></script>
  <script>var h = new Headroom(document.querySelector('.site-header'), {offset:200, tolerance:10}); h.init();</script>
</body>
</html>
