---
layout: default
---
<article class="page h-entry hentry">

  <header class="entry-header">
    <h1 class="p-name entry-title">{{ page.title }}</h1>

    <p class="entry-meta">
      <time class="dt-published published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
    </p>
  </header>

  <div class="e-content entry-content">
  {{ content }}
  </div>

  <footer class="entry-footer">
    <p class="entry-meta">
    </p>
    <div class="p-author author">
    </div>
  </footer>

</article>
