---
layout: default
---
<article class="page h-entry hentry">

  <header class="entry-header">
    <h1 class="p-name entry-title">{{ page.title }}</h1>

    <p class="entry-date">Published on 
      <a href="{{ page.url }}" class="u-url url">
        <time class="dt-published published" datetime="{{ page.date | date_to_xmlschema }}" title="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%B %-d" }}{{ page.date | ordinal }}{{ page.date | date: ", %Y at %-I:%M %p" | downcase }}{{ page.date | date: " %Z"}}
        </time>
      </a>
    </p>
  </header>

  <div class="e-content entry-content">
  {{ content }}
  </div>

  <footer class="entry-footer">
    <p class="entry-meta">
      {% if page.syndication %}
      <span class="entry-syndication">
        Also view on:
        {% for syn in page.syndication %}
          <a rel="syndication" class="u-syndication" href="{{ syn }}">{{ syn | syndication_title }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </span>
      {% endif %}
    </p>
    <div class="p-author author">
      <data class="p-name fn" value="{{ page.author.name }}">
      <data class="p-url url" value="{{ page.author.url }}">
      <data class="p-photo photo" value="{{ page.author.photo }}">
    </div>
  </footer>

</article>
