# fly.toml docs and default values at https://fly.io/docs/reference/configuration/

app = "willnorris"
primary_region = "lax"

[build]
dockerfile = "Dockerfile"

[env]
IMAGEPROXY_ALLOWHOSTS = "*.willnorris.com,*.judahnorris.com"
IMAGEPROXY_BASEURL = "https://willnorris.com/"

# Additional environment variables set using `fly secrets`:
# - IMAGEPROXY_SIGNATUREKEY
# - TS_AUTHKEY (tskey-client-kzXvPkviUW11CNTRL-XXX?preapproved=true)

[[mounts]]
source = "data"
destination = "/home/nonroot"

[metrics]
port = 9000
path = "/"

[http_service]
force_https = true
auto_stop_machines = "suspend"

[http_service.concurrency]
type = "requests"
soft_limit = 500
