{{ define "main" }}
<article class="page h-entry hentry wrap">
  <header class="entry-header">
    <h1 class="p-name entry-title">{{ .Title }}</h1>
  </header>
  <div class="e-content entry-content">
    {{ .Content }}
  </div>
  <ul class="posts">
  {{- range .Pages -}}
    <li>
      <a class="post-link" href="{{ .Permalink }}">{{ .Title }}</a>
      <time class="dt-published published" datetime=""></time>
      <time class="dt-published published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
    </li>
  {{- end -}}
  </ul>
</article>
{{ end }}
