{{ define "main" }}
{{- if .FirstSection.Param "breadcrumbs" }}{{ partial "breadcrumbs" . }}{{ end }}
<article class="post {{ .Params.mfRoot | default "h-entry hentry" }}">
  <header class="entry-header"{{ with .Params.image }} data-background
          style="background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5) 35%), url({{ .url }}); background-position:{{ .position }};" {{ end }}>
    <div class="wrap">
      <h1 class="p-name entry-title">{{ .Title }}</h1>
      {{- if .FirstSection.Param "headerMeta" }}
      <p class="entry-meta">
        <a href="{{ .Permalink }}" class="u-url url">
          {{ partial "time" .Date }}
        </a>
        by
        <span class="p-author h-card author vcard">
          <a class="url" href="{{ $.Param "author.url" }}">
            <img class="photo logo" src="{{ $.Param "author.photo" }}" alt=""> <span class="fn">{{ $.Param "author.name" }}</span>
          </a>
        </span>
      </p>
      {{- end }}
      {{- with .Params.image.alt }}<span role="img" aria-label="{{ . }}"></span>{{ end -}}
    </div>
  </header>

  <div class="e-content entry-content wrap">
    {{ .Content }}
  </div>

  <footer class="entry-footer wrap">
    <p class="entry-meta">
    {{- if .FirstSection.Param "gitInfo" }}
      <span class="entry-gitinfo">Last Modified: <a href="{{ .Site.Params.pageHistoryURL }}/{{ .File }}">{{ .Lastmod.Format "January 2, 2006" }}</a>.
        <a href="{{ .Site.Params.pageEditURL }}/{{ .File }}">Edit</a></span>
    {{- end }}
    {{- partial "syndication" . -}}
    </p>
  </footer>
  {{ partial "webmentions" . }}
</article>
{{ end }}
