$color-red: #ac291f;
$color-green: #309f4b;
$color-grey-20: #333;    // 20%
$color-grey-30: #555;    // 33%
$color-grey-60: #999;    // 60%
$color-grey-80: #ddd;    // 87%
$color-grey-90: #f5f5f5; // 96%
$color-white: #fff;      // 100%
