#TableOfContents > ul {
  list-style: none;
  padding: 0;
}

figure {
  text-align: center;
  & img {
    display: block;
    margin: auto;
  }
}
aside > figure {
  margin-block-start: 0.5em;
}

.aligncenter {
  display: block;
  margin-inline: auto;
  clear: both;
}

.full {
  margin-inline: calc(var(--wrap-margin) * -1);
  clear: both;
  overflow: hidden;
  & img {
    width: 100%;
  }
}

.outset {
  margin-inline: calc(var(--wrap-margin) * -1);
  overflow: hidden;
}

.alignleft,
.alignright {
  transition: all 200ms ease-in-out;
}

@media (min-width: 450px) {
  /* only float if the screen is wide enough to display it properly */
  .alignleft {
    float: left;
    margin-right: 1em;
  }

  .alignright {
    float: right;
    margin-left: 1em;
  }
}

.clear {
  clear: both;
}

@media (min-width: 450px) and (max-width: 960px) {
  /*
  *  the screen is wide enough to float, but make sure we don't squish the text
  *  to only one or two words per line
  */
  .alignleft,
  .alignright {
    max-width: 50%;
    height: auto;

    & img:not([height]) {
      height: auto;
    }
  }
}

@media (min-width: 700px) {
  /* increase padding around floats */
  .alignleft {
    margin-right: 2em;
    &:not(.outset) {
      margin-left: 1em;
    }
  }
  .alignright {
    margin-left: 2em;
    &:not(.outset) {
      margin-right: 1em;
    }
  }
}

@media (min-width: 1260px) {
  .outset {
    --outset: -75px;
    margin-left: calc(var(--outset) * 2);
    margin-right: calc(var(--outset) * 2);

    &.alignleft {
      margin-right: 2em;
      margin-left: var(--outset);
    }
    &.alignright {
      margin-left: 2em;
      margin-right: var(--outset);
    }
  }
}

figure.video {
  /* responsive embeds for things like youtube videos and such */
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  & iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.prose {
  line-height: 1.8;
}

.posts {
  list-style: none;
  padding: 0;
  & * {
    --flow-space: 0;
  }

  & time {
    color: var(--color-grey-30);
    font-size: 0.875rem;
    margin-left: 0.5em;
  }

  & .draft:before {
    color: var(--color-grey-30);
    content: "[draft]";
    font-size: 0.875rem;
    font-variant: small-caps;
  }
}

.entry-header {
  text-align: center;
}

/* display large header background image */
@media only screen {
  .entry-header[data-background] {
    height: 75vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    margin-block-start: calc(-1 * var(--main-block-padding));
    margin-block-end: var(--main-block-padding);
    text-shadow: 1px 1px 2px var(--color-grey-20);
    & h1 {
      color: var(--color-white);
    }
    & .entry-meta,
    .entry-meta a {
      color: var(--color-grey-80);
    }
  }
}

.entry-meta {
  color: var(--color-grey-30);
  font-size: 0.875rem;

  & a {
    color: currentColor;
    text-decoration: none;
    &:hover {
      color: var(--color-primary);
      text-decoration: revert;
      text-decoration-color: var(--color-grey-80);
    }
  }

  & .entry-syndication {
    display: block;
  }
}

img.border {
  border: 1px solid var(--color-grey-60);
}

figcaption {
  --flow-space: 0;
  font-size: 0.8125rem;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-template-rows: masonry;
  column-gap: 1ex;
  row-gap: 1ex;
  align-items: center;
  justify-items: center;

  & a {
    line-height: 1;
    text-decoration: none;
  }
}

.small {
  font-size: 0.875rem;
}

hr {
  border: 0;
  border-block-end: solid 1px var(--color-grey-60);
}

.footnotes {
  font-size: 0.875rem;
  & code {
    font-size: 1em;
  }
  & ol {
    padding-inline: 2em;
  }
}

/* fragmentations
* taken from http://tantek.com/2011/simple.css, in turn inspired by http://lea.verou.me/2012/12/animations-with-one-keyframe/
*/
[fragmention],
:target {
  background: yellow;
  animation: fragmention 3.5s both;
  -webkit-animation: fragmention 3.5s both;
}
@keyframes fragmention {
  to {
    background: lighten(yellow, 40%);
  }
}
@-webkit-keyframes fragmention {
  to {
    background: lighten(yellow, 40%);
  }
}

form#webmention {
  & input[type="url"] {
    display: block;
    box-sizing: border-box;
    width: 100%;
  }

  & #result {
    font-weight: bold;
    margin: 0 1em;

    &.success {
      color: var(--color-green);
    }
    &.error {
      color: var(--color-red);
    }
  }
}
