.prose {
  line-height: 1.8;
}

.posts {
  list-style: none;
  padding: 0;

  &.summaries li + li {
    margin-block-start: 1em;
  }

  & time {
    color: var(--color-meta);
    font-size: 0.875rem;
    margin-left: 0.5em;
  }

  & .draft:before {
    color: var(--color-meta);
    content: "[draft]";
    font-size: 0.875rem;
    font-variant: small-caps;
  }

  & .e-summary {
    font-size: 0.875rem;
  }
}

.entry-header {
  text-align: center;
}

/* display large header background image */
@media only screen {
  .entry-header[data-background] {
    --color-text: var(--color-white);
    --color-meta: var(--color-grey-80);
    height: 75vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    margin-block-start: calc(-1 * var(--main-block-padding));
    margin-block-end: var(--main-block-padding);
    text-shadow: 1px 1px 2px var(--color-grey-20);
    a:hover {
      color: currentColor;
    }
  }
}

.entry-meta {
  color: var(--color-meta);
  font-size: 0.875rem;

  & a {
    color: currentColor;
    text-decoration-color: var(--color-border-contrast);
    &:hover {
      color: var(--color-primary);
    }
  }

  & .entry-syndication {
    display: block;
  }
}
