:root {
  --scrollbar-width: 0;
}

.flow * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* --- Typographical Elements --- */

@font-face {
  font-family: "Atkinson Hyperlegible";
  src:
    local("Atkinson Hyperlegible Regular"),
    url("/fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src:
    local("Atkinson Hyperlegible Bold"),
    url("/fonts/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

body {
  background-color: var(--color-white);
  color: var(--color-grey-20);
  font-family: "Atkinson Hyperlegible", "Helvetica Neue", Helvetica, system-ui,
    sans-serif;
  font-size: 1.125rem; /* 18px */
}

a {
  color: var(--color-primary);
  text-decoration-color: var(--color-grey-80);
  text-underline-offset: 2px;

  &:hover {
    color: currentColor;
  }

  &:has(> img) {
    text-decoration: none;
  }
}

blockquote,
blockquote::before {
  color: var(--color-grey-30);
}

blockquote {
  padding: 0.2em 0.75em;
  margin: 1em 0.75em;
  border-left: solid 2px currentColor;
  font-style: italic;
  * {
    --flow-space: 0.5em;
  }
}

/* --- Headings --- */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-grey-20);
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

/* --- Objects --- */

embed,
iframe,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

/* --- Forms --- */

input,
select,
textarea {
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-80);
  box-shadow: 1px 1px 3px var(--color-grey-90) inset;
  color: var(--color-grey-30);
  font-size: 1rem;
  padding: 0.5em 1em;
}

input:focus,
textarea:focus {
  border: 1px solid var(--color-grey-60);
  outline: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.e-content .button {
  background-color: var(--color-grey-20);
  border: none;
  box-shadow: none;
  color: var(--color-white);
  cursor: pointer;
  width: auto;

  &:hover {
    background-color: var(--color-primary);
  }
}

.button {
  display: inline-block;
}

/* --- Tables --- */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

tbody {
  border-bottom: 1px solid var(--color-grey-80);
}

th,
td {
  text-align: left;
  vertical-align: top;
}

th {
  font-weight: bold;
}

td {
  border-top: 1px solid var(--color-grey-80);
  padding: 0.25rem 0;
}

ul,
ol {
  li {
    --flow-space: 0;
  }
}

dt {
  font-weight: bold;
}

dd {
  margin-inline-start: 1.5em;
  dt + & {
    --flow-space: 0;
  }
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1rem;
}

pre {
  background: var(--color-grey-90);
  border: solid 1px var(--color-grey-80);
  border-radius: 3px;
  color: var(--color-grey-20);
  hyphens: none;
  line-height: 1.5;
  overflow: auto;
  padding: 0.25em 0.75em;
  tab-size: 2;

  * {
    --flow-space: 0;
  }
}

:not(pre) > code {
  background: var(--color-grey-90);
  padding: 2px 4px;
  border-radius: 3px;
  border: solid 1px var(--color-grey-80);
}
