// Default to border-box
:root {
  --scrollbar-width: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* --- Typographical Elements --- */

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: local("Atkinson Hyperlegible Regular"),
    url("/fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
    url("/fonts/Atkinson-Hyperlegible-Regular-102.woff") format("woff");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: local("Atkinson Hyperlegible Bold"),
    url("/fonts/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"),
    url("/fonts/Atkinson-Hyperlegible-Bold-102.woff") format("woff");
  font-weight: 700;
}

body {
  background-color: $color-white;
  color: $color-grey-20;
  font-family: "Atkinson Hyperlegible", "Helvetica Neue", Helvetica, system-ui, sans-serif;
  font-size: 1.125rem; // 18px
  line-height: 1.8;
}

a {
  border-bottom: 1px solid $color-grey-80;
  color: $color-red;
  text-decoration: none;

  &:hover {
    color: $color-grey-20;
  }

  &:has(> img) {
    border-bottom: none;
  }
}

p {
  margin: 0 0 1.5em;
  padding: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
}

blockquote, blockquote::before {
  color: $color-grey-30;
}

blockquote {
  margin: 1.5em 3em;
}

blockquote::before {
  content: "\201C";
  display: block;
  font-size: 2em;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px;
}


/* --- Headings --- */

h1, h2, h3, h4, h5, h6 {
  color: $color-grey-20;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}


/* --- Objects --- */

embed,
iframe,
img,
object,
video {
  max-width: 100%;
  height: auto;
}


/* --- Forms --- */

input,
select,
textarea {
  background-color: $color-white;
  border: 1px solid $color-grey-80;
  box-shadow: 1px 1px 3px lighten($color-grey-80, 5%) inset;
  color: $color-grey-30;
  font-size: 1rem;
  padding: 0.5em 1em;
}

input:focus,
textarea:focus {
  border: 1px solid $color-grey-60;
  outline: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.e-content .button {
  background-color: $color-grey-20;
  border: none;
  box-shadow: none;
  color: $color-white;
  cursor: pointer;
  width: auto;

  &:hover {
    background-color: $color-red;
  }
}

.button {
  display: inline-block;
}

/* --- Tables --- */

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2.5rem;
  width: 100%;
}

tbody {
  border-bottom: 1px solid $color-grey-80;
}

th, td {
  text-align: left;
  vertical-align: top;
}

th {
  font-weight: bold;
}

td {
  border-top: 1px solid $color-grey-80;
  padding: 0.25rem 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.5em 2.5em;
}

code, kbd, pre, samp {
  font-family: monospace;
  font-size: 1rem;
}

pre {
  background: $color-grey-90;
  border: solid 1px $color-grey-80;
  border-radius: 3px;
  color: $color-grey-20;
  hyphens: none;
  line-height: 1.25;
  overflow: auto;
  padding: 0.5em 0.75em;
  tab-size: 2;
}

:not(pre) > code {
  background: $color-grey-90;
  padding: 0.1em 0.3em;
  border-radius: 3px;
}

