.site-footer {
  background-color: $white-smoke;
  border-top: 1px solid $gainsboro;
  clear: both;
  padding: 2em 0 0 0;

  .column {
    margin-bottom: 2em;
  }

  p {
    margin: 0;
  }

  a {
    border-color: $nobel;
    color: $dim-gray;
    &:hover {
      color: lighten($dim-gray, 15%)
    }
  }
}

.copyright {
  background-color: $night-rider;
  clear: both;
  color: $gainsboro;
  font-size: 0.875rem;
  padding: 1rem 0;
  text-align: center;

  p {
    margin: 0;
  }

  a {
    color: $gainsboro;
    &:hover {
      color: darken($gainsboro, 15%)
    }
  }
}
