body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
  --main-block-padding: clamp(2rem, 1rem + 5vw, 4rem);
  padding-block: var(--main-block-padding);
}

.wrap {
  box-sizing: content-box;
  clear: both;
  margin-inline: auto;
  max-width: 60rem;
  padding: 0 5%;

  /*
  * measure and store the margin outside .wrap elements
  *
  *      100vw  full viewport width
  *    - 100%   width of the current element
  *    - SBW    width of browser scrollbar (set by javascript)
  *    /  2     divide in half
  *    =        width of each side margin
  */
  --wrap-margin: calc((100vw - 100% - var(--scrollbar-width)) / 2);
}

.site-header {
  background-color: var(--color-header-bg);
  color: var(--color-header-text);
  padding: 1rem 0;
  text-transform: lowercase;

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 1em 3em;
    align-items: flex-start;
    line-height: 1rem;
  }
  .title-area {
    flex: 1;
    display: flex;
    align-items: flex-end;
    gap: 0.5rem 1.3rem;
    flex-wrap: wrap;
  }
}

.site-title {
  font-weight: 500;

  & a {
    color: var(--color-grey-90);
    text-decoration: none;
  }
}

.site-description {
  font-size: 0.875rem;
}

.site-nav {
  & > ul {
    display: flex;
    margin-inline-start: -0.5em;
  }

  & a {
    color: currentColor;
    text-decoration: none;
    padding: 0.5em;

    &:hover {
      color: var(--color-grey-90);
    }
  }
}

.site-footer {
  background-color: var(--color-callout);
  border-block-start: 1px solid var(--color-border);

  & .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    margin: 2em auto;
  }

  & a {
    text-decoration-color: var(--color-border-contrast);
    color: var(--color-meta);
    &:hover {
      color: var(--color-grey-60);
    }
  }

  & svg {
    display: block;
    margin-inline: auto;
  }
}

.copyright {
  background-color: var(--color-header-bg);
  color: var(--color-header-text);
  font-size: 0.875rem;
  padding: 1rem 0;
  text-align: center;

  & a {
    color: var(--color-header-text);
  }
}
