/* --- Site Containers --- */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 4rem;
}
main {
  flex: 1;
  clear: both;
  margin: 2rem 0;
}

.wrap {
  box-sizing: content-box;
  clear: both;
  margin: 0 auto;
  max-width: 960px;
  padding-left: 5%;
  padding-right: 5%;
}

@media only screen and (min-width: 600px) {
  main {
    margin: 4rem 0;
  }
}

// at 960px, set padding to fixed size
@media only screen and (min-width: 960px) {
  .wrap {
    padding-left: 48px;
    padding-right: 48px;
  }
}
