#likes, #reposts {
    >h3 {
        display: inline-block;
        margin: 0 1ex;
    }
    svg {
        height: 1em;
    }
}

.facepile {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 4px;

    li {
        display: inline-block;
        padding: 0;
    }

    a {
        border: 0;
        text-decoration: none;
        letter-spacing: -1ex;
    }
}

.facepile img, .p-comment .u-photo {
    max-height: 1.25em;
    border-radius: 25%;
    text-indent: 100%;
    overflow: hidden;

    &:before {
        content: ' ';
        display: block;
        height: 1.25em;
        width: 1.25em;
        background: #fff url("/images/user.svg");
    }
}

.p-comment {
    margin: 1em 0 2em;

    .comment-meta {
        vertical-align: top;
        img {
            float: left;
            max-height: 3rem;
            margin: .25rem 1ex .25rem 0;
            &:before {
                height: 3rem;
                width: 3rem;
            }
        }
        time {
            display: block;
            font-size: .75em;
            color: $night-rider;
        }
    }
}
