.p-comment {
    margin: 1em 0 2em;

    .comment-meta {
        vertical-align: top;
        img {
            float: left;
            max-height: 3rem;
            margin: .25rem 1ex .25rem 0;
            &:before {
                height: 3rem;
                width: 3rem;
            }
        }
        time {
            display: block;
            font-size: .75em;
            color: $color-grey-20;
        }
    }
}
