{{- $jquery := resources.Get "js/jquery.js" | resources.Fingerprint }}
<script src="{{ $jquery.RelPermalink }}"></script>
{{- $debounce := resources.Get "js/debounce.js" | resources.Fingerprint }}
<script src="{{ $debounce.RelPermalink }}"></script>
{{- $fluidbox := resources.Get "js/fluidbox.js" | resources.Fingerprint }}
<script src="{{ $fluidbox.RelPermalink }}"></script>

<script>
  $(function(){
    // add lightbox for linked images
    var $imageAnchors = $('.entry-content a').filter('[href$=".jpg"],[href$=".jpeg"],[href$=".png"]');
    $imageAnchors.fluidbox({
      viewportFill: 1,
    });

    var lastScrollTop = $(window).scrollTop();
    $(window).scroll(function(){
      var scrollAmt = $(this).scrollTop();
      var deltaS = scrollAmt - lastScrollTop;
      lastScrollTop = scrollAmt;

      // close fluidbox if scrolled more than 10px
      if (Math.abs(deltaS) > 10) {
        $imageAnchors.trigger('close.fluidbox');
      }
    });
  });

  if (!CSS.supports("grid-template-rows", "masonry")) {
    {{- $macy := resources.Get "js/macy.mjs" | resources.Fingerprint }}
    import({{ $macy.RelPermalink | safeHTML }})
      .then(({default: macy}) => {
        var macyInstance = macy({
            container: '.gallery',
            mobileFirst: true,
            columns: 1,
            margin: 5,
            breakAt: {
                450: { columns: 2 },
                700: { columns: 3, margin: 10 },
                850: { columns: 4 }
            },
          });
      });
  }
</script>
