{{- $jquery := resources.Get "js/jquery.js" | resources.Fingerprint }}
<script src="{{ $jquery.RelPermalink }}"></script>
{{- $imagesloaded := resources.Get "js/imagesloaded.js" | resources.Fingerprint }}
<script src="{{ $imagesloaded.RelPermalink }}"></script>
{{- $debounce := resources.Get "js/debounce.js" | resources.Fingerprint }}
<script src="{{ $debounce.RelPermalink }}"></script>
{{- $fluidbox := resources.Get "js/fluidbox.js" | resources.Fingerprint }}
<script src="{{ $fluidbox.RelPermalink }}"></script>
{{- $masonry := resources.Get "js/masonry.js" | resources.Fingerprint }}
<script src="{{ $masonry.RelPermalink }}"></script>

<script>
  $(function(){
    // add lightbox for linked images
    var $imageAnchors = $('.entry-content a').filter('[href$=".jpg"],[href$=".jpeg"],[href$=".png"]');
    $imageAnchors.fluidbox({
      viewportFill: 1,
    });

    var lastScrollTop = $(window).scrollTop();
    $(window).scroll(function(){
      var scrollAmt = $(this).scrollTop();
      var deltaS = scrollAmt - lastScrollTop;
      lastScrollTop = scrollAmt;

      // close fluidbox if scrolled more than 10px
      if (Math.abs(deltaS) > 10) {
        $imageAnchors.trigger('close.fluidbox');
      }
    });
  });

  // mason gallery
  $(function(){
    var $gallery = $('.gallery');

    var $packed = $gallery.filter('.packed').masonry({
      itemSelector: 'a',
      gutter: 10,
    });

    // layout masonry again after all images have loaded
    $packed.imagesLoaded( function() {
      $packed.masonry();
    });
  });
</script>
