{{/* The imageproxy-url partial creates an imageproxy URL for a specified image.

Site parameters:

    params:
      imageproxy:
        url: "http://proxy.example.com/" # absolute URL of imageproxy instance
        default_baseurl: "http://example.com/" # optional baseurl configured on imageproxy

The partial takes a slice as context containing the values:
 - the image URL
 - the imageproxy options
 - whether to sign the URL
 - whether to base64 encode the URL

Example usage:

  {{- partial "imageproxy-url.html" (slice "https://external/image.jpg" "w=100" true false) }}

If URL signing is requested, the signing key is read from the IMAGEPROXY_SIGNATUREKEY environment variable.
Options must be in their canonical form for signing to work.

See more details on imageproxy at https://github.com/willnorris/imageproxy
*/}}
{{- $src := (index . 0) }}
{{- $options := (index . 1) }}
{{- $sign := (index . 2) }}
{{- $encode := (index . 3) }}

{{- if and $src site.Params.imageproxy.url }}
  {{- $proxy := strings.TrimSuffix "/" site.Params.imageproxy.url }}

  {{- $key := os.Getenv "IMAGEPROXY_SIGNATUREKEY" }}
  {{- if and $key $sign }}
    {{- $msg := printf "%s#%s" $src (default "0x0" $options) }}
    {{- $sig := hmac "sha256" $key $msg "binary" | base64Encode }}
    {{- $sig = strings.TrimRight "=" (replace (replace $sig "+" "-") "/" "_") }}
    {{- with $options }}{{ $options = printf "%s," $options }}{{ end }}
    {{- $options = printf "%ss%s" $options $sig }}
  {{- end }}

  {{- if $encode }}
    {{- $src = strings.TrimRight "=" (replace (replace (base64Encode $src) "+" "-") "/" "_") }}
  {{- end }}

  {{- $src = strings.TrimPrefix site.Params.imageproxy.default_baseurl $src }}
  {{- $src = strings.TrimPrefix "/" $src }}
  {{- $src = printf "%s/%s/%s" $proxy $options $src }}
{{- end }}

{{- $src | safeHTML -}}
