<script type="module">
  document.addEventListener("DOMContentLoaded", function() {
    // load fragmention if URL fragment is present
    (async () => {
      if (window.location.hash !== "") {
        await import({{ (resources.Get "js/fragmention.js" | resources.Fingerprint).RelPermalink }})
      }
    })();

    // display lightbox for linked images
    (async () => {
      const imageAnchors = Array.from(document.querySelectorAll('.e-content a'))
          .filter(a => a.href.match(/.(jpg|jpeg|png)$/))
          .filter(a => a.querySelector('img'))
      if (imageAnchors.length) {
        // these must be loaded sequentially
        await import({{ (resources.Get "js/jquery-slim.mjs" | resources.Fingerprint).RelPermalink }})
        await import({{ (resources.Get "js/debounce.mjs" | resources.Fingerprint).RelPermalink }})
        await import({{ (resources.Get "js/fluidbox.mjs" | resources.Fingerprint).RelPermalink }})

        const $imageAnchors = $(imageAnchors);
        $imageAnchors.fluidbox({
          viewportFill: 1,
        });

        let lastScrollTop = $(window).scrollTop();
        $(window).scroll(() => {
          const scrollAmt = $(this).scrollTop();
          const deltaS = scrollAmt - lastScrollTop;
          lastScrollTop = scrollAmt;

          // close fluidbox if scrolled more than 10px
          if (Math.abs(deltaS) > 10) {
            $imageAnchors.trigger('close.fluidbox');
          }
        })
      }
    })();

    // display galleries in masonry grid
    (async () => {
      const galleries = document.querySelectorAll('.gallery')
      if (galleries.length && !CSS.supports("grid-template-rows", "masonry")) {
        // fallback to use macy.js to display masonry grid if needed
        const {default:macy} = await import({{ (resources.Get "js/macy.mjs" | resources.Fingerprint).RelPermalink }})
        macy({
            container: '.gallery',
            mobileFirst: true,
            columns: 1,
            margin: 5,
            breakAt: {
                450: { columns: 2 },
                700: { columns: 3, margin: 10 },
                850: { columns: 4 }
            },
          })
      }
    })();

    // render tweets
    (() => {
      const tweets = document.querySelectorAll('.twitter-tweet')
      if (tweets.length) {
        import("https://platform.twitter.com/widgets.js")
      }
    })();
  })
</script>
