  <div class="profile-card p-author h-card vcard">
      <div class="wrap">
        <img class="u-photo photo" src="/logo.jpg" alt="">
        <h2 class="p-name fn">
          <a class="u-url url" href="https://willnorris.com/">Will Norris</a>
        </h2>

        <p class="p-note note">Hi, I'm <a href="{{"about"|relURL}}">Will</a>.  I'm a follower of Jesus, a
        husband to <a rel="spouse met" href="https://notsoserendipitous.com/">Elisabeth</a>, a
        father to <a rel="child met" href="https://gabenorris.com/">Gabriel</a> and <a
        rel="child met" href="https://judahnorris.com/">Judah</a>, a citizen of the <a
        href="https://indieweb.org/">indie web</a>, and an <span class="p-role role">engineering
        manager</span> at <span class="p-org org">Google</span>.</p>

        <ul class="social-links">
          <li><a rel="me" href="https://github.com/willnorris" class="u-url url">GitHub</a></li>
          <li><a rel="me" href="https://twitter.com/willnorris" class="u-url url">Twitter</a></li>
          <li><a rel="me" href="https://facebook.com/willnorris" class="u-url url">Facebook</a></li>
        </ul>

      </div>
  </div>
