  <div class="profile-card p-author h-card flow">
      <div class="wrap">
        <img class="u-photo" src="/logo.jpg" width="128" height="128" alt="Will Norris">
        <h2 class="p-name">
          <a class="u-url" href="https://willnorris.com/">Will Norris</a>
        </h2>

        <p class="p-note">Hi, I’m <a href="{{"about"|relURL}}">Will</a>.  I’m a follower of Jesus, a
        husband to <a rel="spouse met" href="https://notsoserendipitous.com/">Elisabeth</a>, a
        father to <a rel="child met" href="https://gabenorris.com/">Gabriel</a> and <a
        rel="child met" href="https://judahnorris.com/">Judah</a>, a citizen of the <a
        href="https://indieweb.org/">indie web</a>, and a <span class="p-role">software engineer</span>
        at <a class="p-org" href="https://tailscale.com/">Tailscale</a>.</p>

        <ul role="list" class="social-links">
          <li><a rel="me" href="https://github.com/willnorris" class="u-url">GitHub</a></li>
          <li><a rel="me" href="https://mastodon.willnorris.net/@will" class="u-url">Mastodon</a></li>
        </ul>

      </div>
  </div>
