{{- $base := $.Site.BaseURL }}
{{- with $.Site.Params.short_baseurl }}{{ $base = . }}{{ end }}

{{- $links := .Params.shortlink }}
{{- if not (reflect.IsSlice $links) }}{{ $links = slice $links }}{{ end }}
{{- $main := "" }}{{ $alts := slice }}

{{- range $i, $link := $links }}
  {{- $url := printf "%s/%s" (strings.TrimRight "/" $base) (strings.TrimLeft "/" $link) }}
  {{- if eq $i 0 }}
    {{- $main = $url }}
  {{- else }}
    {{- $alts = $alts | append $url }}
  {{- end }}
{{- end }}

{{- if $main }}
  <link rel="shortlink" href="{{ $main }}"{{ with $alts }} data-alt-href="{{ delimit . " " }}"{{ end }}>
{{- end -}}
