{{ define "main" }}
  {{ partial "profile-card.html" }}

  <div class="home wrap">
    <h2>Recent Posts</h2>
    <ul class="posts">
    {{- range first 10 (where .Site.RegularPages "Type" "eq" "posts") -}}
      <li>
        <a class="post-link" href="{{ .Permalink }}">{{ .Title }}</a>
        <time class="dt-published published" datetime=""></time>
        <time class="dt-published published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
      </li>
    {{- end -}}
    </ul>

    <a href="/posts/" class="more">view all posts</a>
  </div>
{{ end }}
