<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    {{- partial "profile-card.html" -}}
      <main>
        <div class="home wrap">
          <h2>Recent Posts</h2>
          <ul class="posts">
          {{- range first 10 (where .Site.RegularPages "Type" "eq" "posts") -}}
            {{ .Render "li" }}
          {{- end -}}
          </ul>
          <a href="{{ relref . "posts" }}" class="more">view all posts</a>
        </div>
      </main>
    {{- partial "footer.html" . -}}
  </body>
</html>
