.profile-card {
  background: $white-smoke;
  border-bottom: 1px solid $gainsboro;
  padding: 1em 0;
  overflow: auto;

  h2 {
    font-size: 1.25rem;
    margin-bottom: 0;
    a {
      color: $dim-gray;
      border: 0;
    }
  }

  .photo {
    float: left;
    margin-right: 1em;
  }

  p {
    margin: 0.3em 0 0.4em 0;
  }
}

.social-links {
  line-height: 1;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;

  li {
    display: inline-block;
    margin: 0 0.5rem;

    &:first-child {
      margin-left: 0;
    }

    a {
      border-bottom-width: 0;
    }
  }
}

article.page, article.post {
  margin-bottom: 3em;
}

figure {
  text-align: center;
  margin: 1em 0;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// set negative margins to fill viewport width
//    100vw  full viewport width
//  - 100%   width of the current element
//  -  15px  width of browser scrollbar (assumes present)
//  /  -2    divide in half & make margin negative
//  =        width of each side margin
@mixin full-width-negative-margin() {
  margin-left: calc((100vw - 100% - 15px) / -2);
  margin-right: calc((100vw - 100% - 15px) / -2);
}

.full {
  @include full-width-negative-margin;
  img {
    width: 100vw;
  }
}

.outset {
  @include full-width-negative-margin;
}

.alignleft, .alignright {
  transition: all 200ms ease-in-out;
}

@media only screen and (min-width: 450px) {
  // only float if the screen is wide enough to display it properly
  .alignleft {
    float: left;
    margin-right: 1em;
  }

  .alignright {
    float: right;
    margin-left: 1em;
  }
}

@media only screen and (min-width: 450px) and (max-width: 960px) {
  // the screen is wide enough to float, but make sure we don't squish the text
  // to only one or two words per line
  .alignleft, .alignright {
    max-width: 50%;
    height: auto;

    img:not([height]) {
      height: auto;
    }
  }
}

@media only screen and (min-width: 700px) {
  // increase padding around floats
  .alignleft {
    margin-left: 1em;
    margin-right: 2em;
  }
  .alignright {
    margin-left: 2em;
    margin-right: 1em;
  }
}

@media only screen and (min-width: 1260px) {
  $outset: -75px;
  .outset {
    max-width: 100vw;
    margin-left: $outset * 2;
    margin-right: $outset * 2;

    &.alignleft {
      margin-right: 2em;
      margin-left: $outset;
    }
    &.alignright {
      margin-left: 2em;
      margin-right: $outset;
    }
  }
}

figure.video {
  // responsive embeds for things like youtube videos and such
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  iframe, object, embed, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

main {
  ul, ol {
    margin: 0 0 1.5em 2em;
  }
}

.home {
  h2 {
    font-size: inherit;
  }
  .more {
    font-size: 80%;
  }
}

.posts {
  list-style: none;
  margin-left: 0;

  time {
    color: $dim-gray;
    font-size: 80%;
    margin-left: 0.5em;
  }

  .draft:before {
    color: $dim-gray;
    content: "[draft]";
    font-size: 80%;
    font-variant: small-caps;
    margin-right: 0.5em;
  }
}

.entry-header {
  text-align: center;

  .author .photo {
    height: 1em;
    vertical-align: middle;
  }
}

// display large header background image
.entry-header[data-background] {
  height: 80vh;
  background-size: cover;
  display: flex;
  margin: -2em 0 2em 0;
  @media only screen and (min-width: 600px) {
    margin-top: -4em;
  }
  > .wrap {
    align-self: flex-end;
    padding-bottom: 3em;
  }
  h1 {
    color: $white;
  }
  .entry-meta, .entry-meta a {
    color: $gainsboro;
  }
}

.entry-meta {
  color: $nobel;
  font-size: 0.875rem;

  a {
    color: $nobel;
    border-width: 0;
    &:hover {
      color: $flamingo;
      border-width: 1px;
    }
  }

  .entry-syndication {
    display: block;
  }
}

img.border {
  border: 1px solid $nobel;
}

figcaption {
  font-size: 70%;
  text-align: center;
  line-height: 0.8;
}

.gallery.packed {
  max-width:1600px;
  position:absolute;
  top:0;

  > a {
    display: block;
    border: 0;
    float: left;
    line-height: 0;
    max-width: 230px;
    margin-bottom: 10px;
  }
}

.footnotes {
  font-size: 0.875rem;
  code {
    font-size: 1em;
  }
}

// fragmentations
// taken from http://tantek.com/2011/simple.css, in turn inspired by http://lea.verou.me/2012/12/animations-with-one-keyframe/
[fragmention], :target {
  background: yellow;
  animation: fragmention 3.5s both;
  -webkit-animation: fragmention 3.5s both;
}
@keyframes fragmention {
  to {
    background: lighten(yellow, 40%);
  }
}
@-webkit-keyframes fragmention {
  to {
    background: lighten(yellow, 40%);
  }
}

form#webmention {
  input[type=url] {
    display: block;
    width: 100%;
  }

  .response {
    font-weight: bold;
    margin: 0 1em;

    &.success {
      color: $eucalyptus;
    }
    &.error {
      color: $flamingo;
    }
  }
}
