.profile-card {
  background: $white-smoke;
  border-bottom: 1px solid $gainsboro;
  padding: 1em 0;
  overflow: auto;

  h2 {
    font-size: 1.25rem;
    margin-bottom: 0;
    a {
      color: $dim-gray;
      border: 0;
    }
  }

  .photo {
    float: left;
    margin-right: 1em;
  }

  p {
    margin: 0.3em 0 0.4em 0;
  }
}

.social-links {
  line-height: 1;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;

  li {
    display: inline-block;
    margin: 0 0.5rem;

    &:first-child {
      margin-left: 0;
    }

    a {
      border-bottom-width: 0;
    }
  }
}

article.page, article.post {
  margin-bottom: 3em;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

figure {
  text-align: center;
}

main {
  ul, ol {
    margin: 0 0 1.5em 2em;
  }
}

.home {
  h2 {
    font-size: inherit;
  }
  .more {
    font-size: 80%;
  }
}

.posts {
  list-style: none;

  time {
    color: $dim-gray;
    font-size: 80%;
    margin-left: 0.5em;
  }
}

.entry-title, .entry-date {
  text-align: center;
}

.entry-date {
  color: $nobel;
  font-size: 0.875rem;
  a {
    color: $nobel;
    border-width: 0;
    &:hover {
      color: $flamingo;
      border-width: 1px;
    }
  }
}

.entry-meta {
  color: $nobel;
  .entry-syndication {
    display: block;
  }
}

img.border {
  border: 1px solid $nobel;
}

figcaption {
  font-size: 70%;
  text-align: center;
}

.gallery {
    max-width:1600px;
    position:absolute;
    top:0;

    > a {
        display: block;
        border: 0;
        float: left;
        width:200px;
    }
}

// fragmentations
// taken from http://tantek.com/2011/simple.css, in turn inspired by http://lea.verou.me/2012/12/animations-with-one-keyframe/
[fragmention] {
  background: yellow;
  animation: fragmention 3.5s both;
  -webkit-animation: fragmention 3.5s both;
}
@keyframes fragmention {
  to {
    background: lighten(yellow, 40%);
  }
}
@-webkit-keyframes fragmention {
  to {
    background: lighten(yellow, 40%);
  }
}
