.profile-card {
  background: $white-smoke;
  border-bottom: 1px solid $gainsboro;
  padding: 1em 0;

  h2 {
    font-size: 1.25rem;
    margin-bottom: 0;
    a {
      color: $dim-gray;
      border: 0;
    }
  }

  .photo {
    float: left;
    margin-right: 1em
  }

  p {
    margin: 0.3em 0 0.4em 0;
  }
}

.social-links {
  font-family: 'wjn2014';
  line-height: 1;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 0.5rem;

    &:first-child {
      margin-left: 0;
    }

    a {
      border-bottom-width: 0;
      color: transparent;
      font-size: 1px;
      letter-spacing: -1px;

      &::before {
        color: $dim-gray;
        font-size: 1.75rem;
        line-height: 1.75rem;

      }
      &:hover::before {
        color: $flamingo;
      }

      &[href*="plus.google.com"]::before { content: '\f206'; }
      &[href*="github.com"]::before      { content: '\f200'; }
      &[href*="twitter.com"]::before     { content: '\f202'; }
      &[href*="app.net"]::before         { content: '\e801'; }
    }
  }
}

article.page, article.post {
  margin-bottom: 3em;
}

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 1.5rem;
  text-align: center;
}

img.alignnone {
  margin-bottom: 0.75rem;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}

img.alignleft,
.caption.alignleft {
  margin: 0 1.5rem 1.5rem 0;
}

img.alignright,
.caption.alignright {
  margin: 0 0 1.5rem 1.5rem;
}

main {
  ul, ol {
    margin: 0 0 1.5em 2em;
  }
}

.home {
  h2 {
    font-size: inherit;
  }
  .more {
    font-size: 80%;
  }
}

.posts {
  list-style: none;

  time {
    color: $dim-gray;
    font-size: 80%;
    margin-left: 0.5em;
  }
}

.entry-date {
  color: $nobel;
  a {
    color: $nobel;
    border-width: 0;
    &:hover {
      color: $flamingo;
      border-width: 1px;
    }
  }
}

.entry-meta {
  color: $nobel;
  .entry-syndication {
    display: block;
  }
}

img.border {
  border: 1px solid $nobel;
}

figcaption {
  font-size: 70%;
  text-align: center;
}

.gallery {
    max-width:1600px;
    position:absolute;
    top:0;

    > a {
        display: block;
        border: 0;
        float: left;
        width:200px;
    }
}
