.site-footer {
  background-color: $white-smoke;
  border-top: 1px solid $gainsboro;
  clear: both;
  padding: 2em 0 0 0;

  .column {
    margin-bottom: 2em;
  }

  a {
    border-color: $nobel;
    color: $nobel;
    &:hover {
      color: lighten($nobel, 5%)
    }
  }
}

.copyright {
  background-color: $night-rider;
  clear: both;
  color: $nobel;
  font-size: 0.875rem;
  padding: 1rem 0;
  text-align: center;

  p {
    margin: 0;
  }
}
