.site-nav {
  float: right;
  line-height: 1;
  text-transform: lowercase;

  > ul {
    list-style: none;
    margin: 0;

    > li {
      display: inline-block;
    }
  }

  a {
    border: none;
    color: $gainsboro;
    display: block;
    font-size: 1.125rem;

    &:hover {
      color: lighten($gainsboro, 5%)
    }
  }
}
