---
layout: page
robots: noindex
---
      {% assign previous = 0 %}
      {% for post in site.posts %}
        {% assign year = post.date | date: "%Y" %}
        {% if year != previous %}
          {% if previous != 0 %}</ul>{% endif %}
        <h2 id="{{ year }}">{{ year }}</h2>
        <ul class="posts">
        {% endif %}
          <li{% if post.draft? %} class="draft"{% endif %}>
            <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
            <time class="dt-published published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
          </li>
          {% assign previous = year %}
        {% endfor %}
      </ul>
