---
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
{% include profile-card.html %}

  <main class="home">
    <div class="wrap">
      <h2>Recent Posts</h2>
      <ul class="posts">
        {% for post in site.posts limit:10 %}
          <li{% if post.draft? %} class="draft"{% endif %}>
            <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
            <time class="dt-published published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
          </li>
        {% endfor %}
      </ul>
      <p><a href="/archives" class="more">view all posts</a></p>
    </div>
  </main>

{% include footer.html %}
  <script src="/js/headroom-0.7.0.js"></script>
  <script>var h = new Headroom(document.querySelector('.site-header'), {'offset':200}); h.init();</script>
</body>
</html>
