{{/* The img shortcode creates <img> tags proxied through imageproxy.

Site parameters:

    params:
      imageproxy:
        url: "http://proxy.example.com/" # absolute URL of imageproxy instance
        default_baseurl: "http://example.com/" # optional baseurl configured on imageproxy

Shortcode usage:

    {{<img src="image.jpg" options="300x200,r90" class="right">}}

See more details on imageproxy at https://github.com/willnorris/imageproxy
*/}}
{{- $src := .Get "src" }}

{{- if .Page.Site.Params.imageproxy.url }}
  {{- $proxy := strings.TrimSuffix "/" .Page.Site.Params.imageproxy.url }}

  {{- with $.Page.Resources.GetMatch (.Get "src") }}
    {{- $src = .Permalink }}
  {{- end }}
  {{- $src = strings.TrimPrefix $.Page.Site.Params.imageproxy.default_baseurl $src }}

  {{- $options := .Get "options" | default "x" }}
  {{- if eq $options "x" }}
    {{- with .Get "width" }}
      {{- $options = printf "%s%s" . $options }}
    {{- end }}
    {{- with .Get "height" }}
      {{- $options = printf "%s%s" $options . }}
    {{- end }}
  {{- end }}

  {{- $src = printf "%s/%s/%s" $proxy $options $src }}
{{- end -}}

<img src="{{ $src }}"
  {{- with .Get "alt" }} alt="{{ . }}"{{ end }}
  {{- with .Get "class" }} class="{{.}}"{{ end }}
  {{- with .Get "width" }} width="{{.}}"{{ end }}
  {{- with .Get "height" }} height="{{.}}"{{ end -}}
>
