{{/* The img shortcode creates <img> tags proxied through imageproxy.

Site parameters:

    params:
      imageproxy:
        url: "http://proxy.example.com/" # absolute URL of imageproxy instance
        default_baseurl: "http://example.com/" # optional baseurl configured on imageproxy
        always_sign: false # always sign proxied image URLs

Shortcode usage:

    {{<img src="image.jpg" options="300x200,r90" class="right">}}

If the imageproxy.always_sign parameter or the "sign" attribute on the shortcode is true,
the image URL will be signed with the key in the IMAGEPROXY_SIGNATUREKEY environment variable.
Options must be in their canonical form for signing to work.

    {{<img src="https://external/image.jpg" sign="true">}}

See more details on imageproxy at https://github.com/willnorris/imageproxy
*/}}
{{- $src := .Get "src" }}
{{- with $.Page.Resources.GetMatch (.Get "src") }}
  {{- $src = .Permalink }}
{{- end }}

{{- $options := .Get "options" | default "x" }}
{{- if eq $options "x" }}
  {{- with (.Get "width" | default "0") }}
    {{- $options = printf "%d%s" (mul (int .) 2) $options }}
  {{- end }}
  {{- with (.Get "height" | default "0") }}
    {{- $options = printf "%s%d" $options (mul (int .) 2) }}
  {{- end }}
{{- end }}

{{- $sign := (or .Page.Site.Params.imageproxy.always_sign (.Get "sign")) }}

<img src="{{ partial "imageproxy-url" (slice $src $options $sign) }}"
  {{- with .Get "alt" }} alt="{{ . }}"{{ end }}
  {{- with .Get "class" }} class="{{.}}"{{ end }}
  {{- with .Get "width" }} width="{{.}}"{{ end }}
  {{- with .Get "height" }} height="{{.}}"{{ end -}}
>
