name: deploy

on:
  push:
    branches: ["main"]
    paths:
      - ".github/workflows/deploy.yml"

      # hugo files
      - assets/**
      - config/_default/**
      - config/production/**
      - content/**
      - data/**
      - layouts/**
      - static/**

      # bun files
      - bun.lock
      - package.json

      # caddy and runtime
      - etc/Caddyfile
      - etc/Dockerfile
      - etc/fly.toml
  workflow_dispatch:
  repository_dispatch:
    types: [deploy]

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: superfly/flyctl-actions/setup-flyctl@fc53c09e1bc3be6f54706524e3b82c4f462f77be # v1.5
      - run: flyctl -c etc/fly.toml deploy --build-secret IMAGEPROXY_SIGNATUREKEY=${{ secrets.IMAGEPROXY_SIGNATUREKEY }} --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
